# Misc
.vscode/**

# Flask
flask-backend/flipfacts/sqlite.db
**/__pycache__/
**/config.py

# React
react-frontend/.eslintcache
react-frontend/package-lock.json
react-frontend/yarn.lock
react-frontend/node_modules
react-frontend/build
react-frontend/coverageg
react-frontend/.eslintcache
