# Misc
.vscode/**
**.log

# Flask
**/__pycache__/
**/config.py
flask-backend/flipfacts/sqlite.db
flask-backend/flipfacts/sqlite.db-journal
flask-backend/search_index/**


# React
**/.eslintcache
react-frontend/package-lock.json
react-frontend/yarn.lock
react-frontend/node_modules
react-frontend/build
react-frontend/coverageg
react-frontend/.eslintcache

