flask
flask-sqlalchemy
flask-bcrypt
flask-jsonschema-validator
flask-login
flask-admin
flask-mail
requests
Whoosh
numpy
spacy
#!python -m spacy download en_core_web_sm
sentence_transformers

flair
scipy